

/*Popup*/


#pop {
    z-index:2;
    position:absolute;
}
#cerrar {
    float:right;
    margin-right:5px;
    cursor:pointer;
    font-size:15px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#666666;
    width:20px;
    position:relative;
    margin-top:-1px;
    text-align:center;
}
