/*css básico*/
header,nav,article,section,aside,figure,footer{
    margin: 0;
    padding: 0;
    display: block;
}

.limpiar{
    clear: both;
}

a img{
    border: none;
}



p,h1,h2,h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: black;
    margin: 6px;
}

h1{
    font-size: 22px;
}

h2{
    font-size: 24px;
}


h3{
    font-size: 16px;
}


a{
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    text-decoration: none;
}

body{
    margin: 10px;
    background: gainsboro;
}

#cuerpo{
    width: auto;
}

/*Cabecera*/

#cabecera{
    height: 70px; /**/
    width: auto;

}
#cabecera{

    height: 70px; /**/
    width: auto;
}

#cabecera ul{
    height: 30px;
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-top: 14px;


}

#cabecera li{
    float: right;
}

#cabecera li a {
    display: block;
    margin-left: 5px;
    height: 37px;
    font-size: 14px;
}

#logo{
    width: 360px;
    height: 60px;
    float: left;
    padding-top: 6px;
}

#logo img{
    width: 150%;
}



#contenedor{
    width: 940px;
    background: white;
    margin: 0 auto;
    padding: 30px; /*30 derecha e izquierda, restar a width*/
}

/*Menu interno*/
#menu{
    height: 77px;
    border-bottom: 5px solid #666666;
}



#menu ul{
    width: 462px;
    height: 60px;
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 17px;
    padding-left: 8px;
}

#menu li{
    float: left;
}

#menu li a{
    display: block;
    padding: 10px;
    font-size: 20px;
    color: darkslategrey;
    font-weight: bold;
    border-right: 4px solid darkslategray;


}

#menu li a:hover{
    color: darkcyan;

}

/*Banner*/

#banner{
    width: 100%;

}

/*Cuerpo imagenes*/

#prod{
     width: 288px;
     height: 394px;
     float: left;
     margin-right: 8px;
     padding: 10px;
 }

#goku{
     width: 27px;
     float: left;
     margin-right: 8px;

 }


#aboutme{
    width: 10px;
    float: left;
    margin-right: 50px;
}

/*Pie pagina*/

#piepagina{
    border-top: 5px solid #666666;
}

.boton{
    border-radius: 5%;
    color: white;
    background: darkcyan;
}

/*Cuerpo interno*/

#cuerpo3 p{
    font-size: 20px;
}

#cuerpo3 img{
    width: 30%;
}