/*css básico*/

header,nav,article,section,aside,figure,footer{
    margin: 0;
    padding: 0;
    display: block;
}

.limpiar{
    clear: both;
}

a img{
    border: none;
}



p,h1,h2,h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    color: black;
    margin: 6px;
}

h1{
    font-size: 22px;
}

h2{
    font-size: 18px;
}


h3{
    font-size: 16px;
}


a{
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    text-decoration: none;
}

body{
    margin: 15px;
    background: gainsboro;
}

#contenedor{
    width: 1145px;
    background: white;
    margin: 0 auto;
    padding: 100px; /*30 derecha e izquierda, restar a width*/
}

/*Cabecera*/

#cabecera{
    height: 70px; /**/
    width: auto;

}

#logo{
    width: 360px;
    height: 60px;
    float: left;
    padding-top: 5px;
}


#logo img{
    width: 150%;
}

#cabecera ul{
    height: 30px;
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-top: 16px;


}

#cabecera li{
    float: right;
}

#cabecera li a{
    display: block;
    margin-left: 5px;
    height: 37px;
    font-size: 14px;

}

/*Menu Principal*/

#menu{
    height: 77px;
    border-bottom: 5px solid #666666;
}

#menu ul{
    width: 500px;
    height: 60px;
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 17px;
    padding-left: 8px;
}

#menu li{
    float: left;
}

#menu li a{
    display: block;
    padding: 10px;
    font-size: 20px;
    color: darkslategrey;
    font-weight: bold;
    border-right: 4px solid darkslategray;


}

#menu li a:hover{
    color: darkcyan;

}

.caja img{
    width: 100%;
}

#boton{
    width: 25%;
    position: absolute;

}


/*Pie pagina*/

#piepagina p{
    font-size: 14px;
    color: darkslategrey;
    font-weight: bold;
}






